package views

import "github.com/boonyarit-iamsaard/templ-htmx-go/components"

templ Home() {
	@components.Layout() {
		<section class="container py-8">
			<h1 class="text-4xl font-bold text-center">
				Welcome
			</h1>
		</section>
	}
}
